[Desktop Entry]
Comment=A collection of tools and utilities for enhancing the experience with the Steam Deck.
Exec=curl https://raw.githubusercontent.com/CryoByte33/steam-deck-utilities/main/install.sh | bash -s --
Icon=distributor-logo-steamdeck
Name[en_US]=Steam Deck Tools
Name=Steam Deck Tools
StartupNotify=false
Terminal=true
Type=Application
