#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Steam Deck Tools
Exec=curl https://raw.githubusercontent.com/CryoByte33/steam-deck-utilities/main/install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
